/* Переменные в цвета */
:root {
  --background-color-01: #ffffff;
  --background-color-02: #f5f4fa;

  --text-color-01: #212121;
  --text-color-02:#757575;
  --text-color-03:rgba(255, 255, 255, 0.6);

  --brand-color-01: #2196f3;
  --brand-color-02: #2f303a;

  --button-color:#f5f4fa;
  --highlight-button-color: #188ce8;

  --border-color-01:#ECECEC;
  --border-color-02:#EEEEEE;

  --shadow-color-01: rgba(0, 0, 0, 0.12);
  --shadow-color-02:rgba(0, 0, 0, 0.14);
  --shadow-color-03:rgba(0, 0, 0, 0.2);
  --shadow-color-04: rgba(0, 0, 0, 0.06);
  --shadow-color-05: rgba(0, 0, 0, 0.16);
  --shadow-color-06: rgba(0, 0, 0, 0.1);
  --shadow-color-07: rgba(0, 0, 0, 0.08);


  --gradient-color-01: rgba(47, 48, 58, 0.4);
  --gradient-color-02: rgba(47, 48, 58, 0.4);
  
  --icon-color-01: #AFB1B8;
  --icon-color-02: rgba(255, 255, 255, 0.1);
}

/* *****Styling body***** */
body {
  background-color: var(--background-color-01);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-01);
  margin: 0;
  letter-spacing: 0.03em;
}
/* Reset */

h1, h2, h3, p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: var(--text-color-01);
}
.list {
  padding-left: 0px;
  margin: 0;
  list-style: none;
}
.address-header-list .link {
  fill:var(--text-color-02);
  color: var(--text-color-02);
}
/* *****Change font-style in address section to normal***** */
.address-footer-list {
  font-style: normal;
}
/* Форматирование изображений */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Контейнер */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Секції */
.section {
  padding: 94px 0 94px;
}
/* Шапка */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color-01);
}
.header-container {  
  /* outline: solid 1px blue; */
  display: flex;
  align-items: center;
}
.logo-link,
.logo-link-second-part {
  color: var(--brand-color-01);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-link-second-part {
  color: var(--text-color-01);
}
.logo-link {
  margin-right: 93px;
}
.nav {
  margin-right: auto;
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-list,
.address-header-list {
  /* outline: solid 2.5px green; */
  display: flex;
  letter-spacing: 0.02em;
}
.nav-list li:not(:last-child), 
.address-header-list li:not(:last-child) {
  margin-right: 50px;
}
.address-header-list {
  color: var(--text-color-02);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.mail-link, 
.tel-link {
  display: flex;
  align-items: center;
}
.icon-link-envelope, .icon-link-smartphone {
  margin-right: 10px;
}
/* Герой */
.hero {  
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--brand-color-02);
  background-image: 
  linear-gradient(to right, var(--gradient-color-01), 
  var(--gradient-color-02)), 
  url(../images/hero-img-team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.slogan {
  width: 604px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--background-color-01);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.hero .button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--brand-color-01);
  border-style: none;
  color: var(--background-color-01);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}
.slogan, 
.hero .button {
  letter-spacing: 0.06em;
}
/* Преимущества */
.benefits {
  font-size: 14px;
}
.benefits-list {
  display: flex;
}
.benefits-list li:not(:last-child) {
  margin-right: 30px;
}
.benefits-list-item::before {
  content:'';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-color-02);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/benefits-icon-antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/benefits-icon-clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/benefits-icon-diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/benefits-icon-astronaut.svg);
}
.benefits-subtitle {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-text {
  color: var(--text-color-02);
  line-height: 1.71;
}

/* Чем мы занимаемся.Описание */
.desc {  
  padding-bottom: 94px;
}
.desc-subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.desc-list {
  display: flex;
}
.desc-list li:not(:last-child) {
  margin-right: 30px;
}

/* Команда */
.team {
  background-color: var(--background-color-02);
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team-list {
  display: flex;
  line-height: 1.19;
  font-size: 16px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px var(--shadow-color-01),
  0px 1px 1px var(--shadow-color-02),
  0px 2px 1px var(--shadow-color-03);
  background-color: var(--background-color-01);
}
.team-text-box {
  padding: 30px 0px 16px;
  text-align: center;
}
.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: inherit;
}
.team-desc {
  color: var(--text-color-02);
}
.icon-social-network-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.icon-social-network-list-item:not(:last-child) {
  margin-right: 10px;
}
.link-social-network {
  color: var(--icon-color-01);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.icon-social-network {
  fill: currentColor;
}

.clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.icon-clients-list {
  display: flex;
  justify-content: center;
}
.icon-clients-list li {
  flex-basis: calc((100% - 5 * 30px) / 6);
}
.icon-clients-list li:not(:last-child) {
  margin-right: 30px;
}
.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  height:92px;
  border: 1px solid var(--icon-color-01);
  border-radius: 4px;
  color:var(--icon-color-01);
}
.icon-clients {
  fill:currentColor;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-color-02);
}
.footer-container {
  display: flex;
}
.footer .logo-link .logo-link-second-part {
  color: var(--background-color-01);
}
.address-text-box {
  margin-top: 20px;
}
.contacts {
  margin-right: 70px;
}
.address-footer-list li:not(:last-child) {
  margin-bottom: 9px;
}
.address-footer-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link {
  color: var(--background-color-01);
}
.footer .mail-link,
.footer .tel-link {
  color: var(--text-color-03);
}
.title-social-network {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color:var(--background-color-01);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}
.footer .link-social-network {
  background-color: var(--icon-color-02);
}
.footer .icon-social-network {
  fill:var(--background-color-01)
}

/* Портфолио */
.gallery-filter-list {  
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.gallery-filter-list li:not(:last-child) {
  margin-right: 8px;
}
.gallery-filter-list .button {
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.gallery-list li {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.gallery-list-link {
  display: block;
}
.gallery-text-box {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color-02);
  border-right: 1px solid var(--border-color-02);
  border-bottom: 1px solid var(--border-color-02);
}
.gallery-subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-desc {
  color: var(--text-color-02);
  font-size: 16px;
  line-height: 1.88;
}

/* *****Elements behavior***** */
.link-active {
  color: var(--brand-color-01);
}
.link:hover,
.link:hover:focus {
  color: var(--brand-color-01);
  fill:var(--brand-color-01);
}
.gallery-list-link:hover {
  color:currentColor;
}
.link-social-network:hover {
  background-color: var(--brand-color-01);
  color:var(--background-color-01);
}
.link-clients:hover {
  border-color: var(--brand-color-01);
}
.button:hover,
.button:focus,
.button-active:hover,
.button-active:focus {
  background-color: var(--highlight-button-color);
  color: var(--background-color-01);
}
.gallery-filter-list .button:hover {
  box-shadow:
  0px 3px 1px var(--shadow-color-06), 
  0px 1px 2px var(--shadow-color-07), 
  0px 2px 2px var(--shadow-color-01);
}
.gallery-list-link:hover,
.gallery-list-link:focus
{
  cursor: pointer;
  box-shadow: 
  0px 1px 1px var(--shadow-color-01), 
  0px 4px 4px var(--shadow-color-04), 
  1px 4px 6px var(--shadow-color-05);
}
/* Приховує заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
